{% extends "base.html" %}

{% block main_content %}
<div id="access-diversity-page">

  <h2>Accessibility</h2>

  <p>
    We are serious about serving the accessibility needs of this
    community.
  </p>

  <p>
    If there is any service you need to help your experience at this
    conference be better, let us know what it is during registration.
  </p>

  <p>
    We will try our best to make your experience excellent.
  </p>

  <p>
    Captioning is available upon request.
  </p>

  <p>
    No accessibility request is too small. We want to hear from you as
    early as possible.
  </p>


  <h2>Diversity</h2>

  <p>
    We support <a href="http://www.python.org/psf/diversity/"> the
    Python Software Foundation's Diversity statement</a>.
  </p>

  <p>
    Above and beyond this, we are very serious about enabling a
    diverse conference space which is safe and comfortable for all.
  </p>

  <p>
    No videotaping, sound recording or photos are allowed unless you
    get direct permission from the speakers and attendees being
    recorded. An explanation of why can be
    found <a href="http://geekfeminism.org/2009/10/11/conference-recordings-and-harassment/">here</a>.
  </p>

  <p>
    Presentation material containing sexual content is prohibited.
  </p>

  <p>
    A detailed policy follows, and will also be given to sponsors,
    staff and security personnel during the conference.
  </p>

  <p>
    PyGotham is dedicated to providing a harassment-free conference
    experience for everyone, regardless of gender, sexual orientation,
    disability, physical appearance, body size, race, age,
    religion. We do not tolerate harassment of conference participants
    in any form. Sexual language and imagery is not appropriate for
    any conference venue, including talks. Conference participants
    violating these rules may be sanctioned or expelled from the
    conference, without a refund, at the discretion of the conference
    organizers.
  </p>

  <p>
    Harassment includes offensive verbal comments related to gender,
    sexual orientation, disability, physical appearance, body size,
    race, religion, age, sexual images in public spaces, deliberate
    intimidation, stalking, following, harassing photography or
    recording, sustained disruption of talks or other events,
    inappropriate physical contact, and unwelcome sexual
    attention. Participants asked to stop any harassing behavior are
    expected to comply immediately.
  </p>

  <p>
    Exhibitors in the expo hall, sponsor or vendor booths, or similar
    activities are also subject to the anti-harassment policy. In
    particular, exhibitors should not use sexualized images,
    activities, or other material. Booth staff (including volunteers)
    should not use sexualized clothing/uniforms/costumes, or otherwise
    create a sexualized environment.
  </p>

  <p>
    If a participant engages in harassing behavior, the conference
    organizers may take any action they deem appropriate, including
    warning the offender or expulsion from the conference with no
    refund. If you are being harassed, notice that someone else is
    being harassed, or have any other concerns, please contact a
    member of conference or security staff immediately. Conference
    staff can be identified by special badges.
  </p>

  <p>
    Conference staff will be happy to help participants contact venue
    security or local law enforcement, provide escorts, or otherwise
    assist those experiencing harassment to feel safe for the duration
    of the conference. We value your attendance.
  </p>

  <p>
    We expect participants to follow these rules at all conference
    venues and conference-related social events.
  </p>

</div>
{% endblock %}
