{% extends "base.html" %}
{% block content %}

<div id="content-wrapper">
<div id="content">

<h3>Babysitting:</h3>

Meet our child care provider, Jenna Larsen<br/>

She lives within walking distance of the conference, and will be available from 8AM to 6PM both conference days.<br/>

<div align="center"><img src="{{ MEDIA_URL }}/static/images/JennaLarsen.jpg" /></div>

<br/>
Hello! My name is Jenna and I have been babysitting children of all ages for over 9 years.  I am originally from Minnesota, completed my bachelor’s degree in Arizona, and moved to Manhattan last year to pursue my M.S. degree in Nutritional Sciences at Columbia University.  I am currently working on my thesis at the NYC Department of Health and hope to pursue a career in the public health field.  Throughout high school and college, I worked with children in multiple settings including a muscular dystrophy camp, child care center, church, individual families, and an after school program where I taught elementary school children about nutrition and physical activity.  Outside of work, I love to cook, play piano, travel, and run throughout the city.  I am very enthusiastic, personable, and reliable and I look forward to working with you and your family!

<br/>

</div>
</div>


{% endblock %}
