{% load i18n %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <title>PyGotham: Mostly Python, some random, all awesome</title>

    <link href="{{ STATIC_URL }}/css/screen.css" media="screen, projection" rel="stylesheet" type="text/css" />
    <!--[if IE]>
        <link href="{{ STATIC_URL}}/css/ie.css" media="screen, projection" rel="stylesheet" type="text/css" />
    <![endif]-->


    <script type="text/javascript" src="{{ STATIC_URL }}/js/jquery-1.6.1.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}/js/jquery.tweet.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}/js/pygotham.js"></script>

{% block main_js_includes %}
{% endblock %}

    <script type="text/javascript">
{% block main_js %}{% endblock %}
    </script>

  </head>

  <body{% if debug %} class="debug"{% endif %}>
    <div id="bp-container">
      <div id="main-header">
        <div id="logo">
          <a href="/">
            <img src="{{ STATIC_URL }}/images/logo-small.png" />
          </a>
        </div>

        <h1>
          <span>PyGotham II</span>
          <span>June 8th &amp; 9th 2012</span>
          <span>New York, NY</span>
        </h1>
      </div>

      <div id="main-nav">
        <ul>
          <li>
            <a href="/">home</a>
          </li>

          <li>
            <a href="{% url logistics %}">logistics</a>
          </li>

          <li>
            <a href="{% url talks %}">scheduled talks</a>
          </li>

          <li>
            <a href="{% url registration_register %}">login</a>
          </li>

          <!--
              <li>
                <a href="{% url login %}">login</a>
              </li>
              -->

          <li>
            <a href="{% url sponsors %}">sponsorship</a>
          </li>

          <li>
            <a href="{% url access %}">policy</a>
          </li>

          <li>
            <a href="{% url contact_us %}">contact</a>
          </li>
        </ul>
      </div>

     <div id="main-content">
        {% block main_content %}{% endblock %}
      </div>

    </div>

  </body>
</html>
