{% extends "sponsor_base.html" %}

{% block sponsor_base_content %}

<div id="news">
  <h2>News</h2>

  <ul id="news-items">
    <li>
      <span class="i-date">
        Feb 22, 2012
      </span>

      <span class="i-blurb">
        Talk submission will open very soon. Please revisit or 
        watch for email announcements.
        If you want to propose a talk early, please email us!
      </span>
    </li>


    {% comment %}
    <li>
      <span class="i-date">
        2012-01-15
      </span>

      <span class="i-blurb">
        Pork belly pastrami meatball shoulder, ham hock strip steak
        drumstick brisket filet mignon.
      </span>
    </li>


    <li>
      <span class="i-date">
        2012-01-12
      </span>

      <span class="i-blurb">
        Jowl meatloaf ball tip ham, pork loin turducken short ribs
        biltong flank frankfurter pancetta.
      </span>
    </li>
    {% endcomment %}

  </ul>

</div>

{% endblock %}
