{% extends "base.html" %}
{% block content %}

<div id="content-wrapper">
<div id="content">

<a href="http://singpath.com">
<img src="{{ MEDIA_URL }}/static/images/singpathLogo_on.png"/ border="0">
</a>

<br/>
<br/>
There will be a programming tournament compliments of SingPath<br/>
on Friday, Sept 16th, 7PM to 9PM. Great prizes will be awarded to the top three contestants.<br/>
<br/>
Location generously provided by:<br>
<br>
<img src="{{ MEDIA_URL }}/static/images/meetup_logo.jpg"/ border="0">
<br/>
632 Broadway, between Bleecker and Houston.
3rd floor, Room 301.
<br/>
<br/>
Show your PyGotham badge to enter. Please bring a laptop. Contest starts promptly at 7PM.
</div>
</div>


{% endblock %}
