{% extends "base.html" %}

{% block main_content %}

<ul id="sponsors-page-tabs">
  <li><a href="#i-sponsor-half" class="selected">sponsors</a></li>
  <li><a href="#i-sponsored-half">be sponsored</a></li>
</ul>

<div id="sponsors-page">

  <div id="i-sponsor-half" class="selected">

    <h2>Sponsor</h2>

    <p>
      This conference was specifically priced to make it affordable for
      individual software developers. This would not be possible without
      corporate sponsorship.
    </p>

    <p>
      This conference was also arranged as a non-profit event to
      encourage sponsorship and community support.
    </p>

    <p>
      We are accepting donations >= $3K in exchange for corporate logo
      placement on our slideshow page.
    </p>

    <p>
      We thank our current sponsors, and we thank you for considering
      sponsorship.
    </p>

    <p>
      Please contact board at thepeoplesconference com to sponsor
      PyGotham.
    </p>

  </div>

  <div id="i-sponsored-half">

    <h2>Be Sponsored</h2>

    <p>
      There's no shame in asking for a free pass. Many people who can
      benefit most from this conference happen to be under/unemployed or
      in school full-time. If this is your situation, we will try our
      best to accommodate you.
    </p>

    <p>
      We are currently raising money to offer free entry to PyGotham for
      those in need.  This will be available to those who apply for
      assistance during registration.
    </p>

    <p>
      Because this is a new conference, and we're still raising money
      for this conference, we don't yet know how many free entry passes
      we can provide.
    </p>

    <p>
      For this reason, your registration is not guaranteed. We will
      place your registration on hold, and get back to you once we have
      funding for your free pass. If we do not have funding by August,
      we will contact you and let you know the situation.
    </p>

    <p>
      The primary purpose of the conference is to serve the Python
      community. Please know that we are serious about getting funding
      for those in need, and we are working on it!
    </p>

  </div>

</div>
{% endblock %}


{% block main_js %}
$(function() {
    $("#sponsors-page-tabs li a").click(function() {
        $("#sponsors-page-tabs li a").removeClass();
        $(this).addClass("selected");

        var sel = $(this).attr('href');
        $("#i-sponsor-half").removeClass();
        $("#i-sponsored-half").removeClass();
        $(sel).addClass("selected");

        return false;
    });
});
{% endblock %}
