{% extends "base.html" %}

{% block main_content %}

<div id="sponsors">
  <h2>Sponsors</h2>

  <ul id="sponsorsContent">
    <li class="sponsorsImage">
      <a href="http://www.knewton.com/">
        <img src="{{ STATIC_URL }}/images/sponsors/knewton-logo-slide.jpg" />
      </a>
      <span></span>
    </li>


    <li class="sponsorsImage">
      <a href="http://www.knewton.com/">
        <img src="{{ STATIC_URL }}/images/sponsors/knewton-logo-slide.jpg" />
      </a>
      <span></span>
    </li>

    <div class="clear sponsorsImage"></div>
  </ul>
</div>

{% block sponsor_base_content %}{% endblock %}
{% endblock %}

{% block main_js_includes %}
    <script type="text/javascript" src="{{ STATIC_URL }}/js/s3Slider.js"></script>
{% endblock %}

{% block main_js %}
$(function() {
    $("#sponsors").s3Slider({
        timeOut: 4000
    });
});
{% block sponsor_base_js %}{% endblock %}
{% endblock %}
