{% load i18n %}
<HTML lang="en">
<HEAD>
<link href="{{ SSL_MEDIA_URL }}/static/css/frames.css" rel="stylesheet" type="text/css" />
<title>PyGotham: Mostly Python, some random, all awesome</title>

</HEAD>
<BODY>

<div id="leftcorner-wrapper">
<div id="leftcorner">

</div>
</div>

<div id="header-wrapper">
<div id="header">
<div id="logo-text">
PYGOTHAM: Sept 16th & 17th, 2011 (a non-profit conference)<br/>
Executive Conference Center: 1601 Broadway - 8th Floor<br/>
Entrance on 48th Street, New York, NY 10019<br/>
Student with valid ID: $100, Individual: $200, Corporate: $300<br/>
(Building entry requires advance registration)<br/>
</div>

</div>
</div>

{% block content %}{% endblock %}

</BODY>
</HTML>
