{% extends "base.html" %}

{% block main_content %}
<div id="talks">
  <h2>Talks</h2>

  <ul id="items">
    <li>
      <div class="i-profile">
        <img src="/static/images/profile.jpg" />
      </div>

      <div class="i-blurb">
        <div class="i-title">
          Extracting musical information from sound
        </div>

        <div class="i-when">
          <span>Sept 16 // 1pm // Room 104</span>
        </div>

        <div class="i-author">
          <a href="#">Johnny B. Goode</a>
        </div>

        <div class="i-abstract">
          Ham hock t-bone pancetta biltong strip steak swine, short ribs
          flank tongue salami frankfurter shank meatball pig.
        </div>
      </div>
    </li>


    <li>
      <div class="i-profile">
        <img src="/static/images/profile.jpg" />
      </div>

      <div class="i-blurb">
        <div class="i-title">
          Cross-Compiling Python & C Extensions for Embedded Systems
        </div>

        <div class="i-when">
          <span>Sept 16 // 2pm // Room 104</span>
        </div>

        <div class="i-author">
          <a href="#">Harry Potter</a>
        </div>

        <div class="i-abstract">
          Pork belly pastrami meatball shoulder, ham hock strip steak
          drumstick brisket filet mignon.
        </div>
      </div>
    </li>

    <li>
      <div class="i-profile">
        <img src="/static/images/profile.jpg" />
      </div>

      <div class="i-blurb">
        <div class="i-title">
          The Pyed Piper: A Modern Python Alternative to awk, sed and
          Other Unix Text Manipulation Utilities
        </div>

        <div class="i-when">
          <span>Sept 16 // 3pm // Room 104</span>
        </div>

        <div class="i-author">
          <a href="#">Grace Potter</a>
        </div>

        <div class="i-abstract">
          Jowl meatloaf ball tip ham, pork loin turducken short ribs
          biltong flank frankfurter pancetta.
        </div>
      </div>
    </li>

  </ul>

</div>
{% endblock %}
