{% extends "base.html" %}
{% block content %}

<div id="content-wrapper">
<div id="content">

<h3>Talk Voting:</h3>

The highest voted talks/classes will fill 80% of the slots. The remaining 20% of talk/class slots will be chosen at random.<br/>
<br/>
Once talk/class submission closes (when registration closes), you will have an opportunity to vote up/down on all submissions. 
Watch the web site, or sign up for email notifications to be alerted when these events occur.
</div>
</div>


{% endblock %}
