{% extends "login_base.html" %}

{% load i18n %}

{% block login_selected %} class="selected"{% endblock %}

{% block login_base_content %}
 <h2>Login</h2>

  <p>
    Use either email address or username to log in.
  </p>

  <p>
    <!-- fixme: huh? -->
    After email is validated, you will need to register for the
    conference to complete this process.
  </p>

  {% if request.user.id %}
  <p> You're already logged in as {{ request.user }}. <a href="{{ SSL_MEDIA_URL }}/accounts/logout">Log out</a>.</p>
  {% else %}
  <form action="" method="post">
    {% csrf_token %}
    {{ form.as_p }}

    <input type="submit" value="{% trans 'Log in' %}" />

    {% if next %}
    <input type="hidden" name="next" value="{{ next }}" />
    {% endif %}
  </form>
  {% endif %}

  <div id="login-page-extra">
    <p>
      {% trans "Forgot password" %}? <a href="{% url auth_password_reset %}">{% trans "Reset it" %}!</a>
      {% trans "Don\'t have a login" %}? <a href="{% url registration_register %}">{% trans "Create one" %}!</a>
    </p>
  </div>
{% endblock %}
