{% extends "sponsor_base.html" %}
{% load i18n %}

{% block sponsor_base_content %}
<ul id="registration-page-tabs">
  <li><a href="{% url login %}">login</a></li>
  <li class="i-tab"><a href="#register" class="selected">register</a></li>
  <li class="i-tab"><a href="#your-talks">your talks</a></li>
  <li class="i-tab"><a href="#talk-vote">talk vote</a></li>
</ul>

<div id="registration-page">

  <div id="register-content" class="selected">
    <h2>Registration</h2>

    <p>
      Already created a login? Already activated it via email
      link? <a href="{{ SSL_MEDIA_URL }}/accounts/login">Log in</a>.
    </p>

    <p>
      <form action="{{ SSL_MEDIA_URL }}/accounts/register" method="post">{% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="{% trans 'Submit' %}" />
      </form>
    </p>

  </div>

  <div id="your-talks-content">
    <h2>Your Talks</h2>
    {% include "talksub/mytalks.html" %}
  </div>

  <div id="talk-vote-content">
    <h2>Talk Vote</h2>

    <p>
      <em>Coming soon!</em>
    </p>
 </div>

</div>

{% endblock %}



{% block sponsor_base_js %}
$(function() {
    $("#registration-page-tabs li.i-tab a").pgtabs();
});
{% endblock %}
