{% extends "base.html" %}
{% block content %}

<div id="content-wrapper">
<div id="content">

<h3>Individual Donation & Conference Registration:</h3>

Donate $200.00 + $5 PayPal fee for corporate regiatration.  <br/>
<br/>
A tax exempt receipt will be emailed to you upon funds verification.
<p/>
<p/>

<form action="https://www.paypal.com/cgi-bin/webscr" method="post">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="hosted_button_id" value="LVZJT2W3FUS3C">
<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
</form>

</div>
</div>


{% endblock %}
