{% extends "sponsor_base.html" %}
{% load i18n %}

{% block sponsor_base_content %}
<div id="confreg-page">
  <h2>WePay</h2>
  <p>
    You are about to be redirected to WePay, which cannot direct you back.
  </p>

  <p>
    If you've already paid, please allow 24 hours for your payment to be recorded in the system.
  </p>

  <p>
    <a href="https://www.wepay.com/events/48436"  target="_blank" >
      <img src="https://www.wepay.com/img/widgets/pay_with_wepay.png" alt="Pay with WePay" />
    </a>
  </p>

</div>
{% endblock %}

