{% extends "login_base.html" %}

{% load i18n %}

{% block yourtalks_selected %} class="selected"{% endblock %}

{% block login_base_content %}

<h2>Your Proposed Talks/Classes</h2>

{% if generic_error %}
<font color="red">{{ generic_error }}</font>
{% endif %}


{% if form %}

    {% if edit_id %}

<form action="{{ MEDIA_URL }}/talksub/edit/{{ edit_id }}" method="post">{% csrf_token %}
  {{ form.as_p }}
  <input type="submit" value="{% trans 'Add a talk/class' %}" />
</form>

    {% else %}

<form action="{{ MEDIA_URL }}/talksub/add/" method="post">{% csrf_token %}
  {{ form.as_p }}
  <input type="submit" value="{% trans 'Add a talk/class' %}" />    
</form>

    {% endif %}

{% else %}

    {% if talks %}
        {% for t in talks %}
        <p>
          Edit talk/class: <a href="{{ MEDIA_URL }}/talksub/edit/{{ t.id }}/" >{{ t.title }}</a>
        </p>
       {% endfor %}
    {% else %}
        <p>You currently have no talks/classes entered.</p>
   {% endif %}

    {% if addtalks %}
        <p><a href="{{ MEDIA_URL }}/talksub/add/">Click here to add a talk/class</a></p>
    {% endif %}

{% endif %}

{% endblock %}
