{% extends "base.html" %}
{% block content %}

<div id="content-wrapper">
<div id="content">

<h3>Already Entered:</h3>
You've already registered. If you're awaiting sponsorship, we will contact you when it happens. 
<br/>
<br/>
If you need further help, <a href="{{ SSL_MEDIA_URL }}/contact_us/">contact us</a>. Please include your user id, if applicable (no passwords), in your correspondence.
<br/>
<br/>
Soon talk/class submission and voting will be active. Watch for details.
</div>
</div>


{% endblock %}
