{% extends "base.html" %}
{% block content %}

<div id="content-wrapper">
<div id="content">

<h3>To Sponsor PyGotham:</h3>
This conference was specifically priced to make it affordable for individual software developers.
This would not be possible without corporate sponsorship.<br/>
<br/>
This conference was also arranged as a non-profit event to encourage sponsorship and community support. <br/>
<br/>
We are accepting donations >= $3K in exchange for corporate logo placement on our slideshow page.<br/>
<br/>
We thank our current sponsors, and we thank you for considering sponsorship.<br/>
<br/>
Please contact board at thepeoplesconference com to sponsor PyGotham. <br/>

</div>
</div>


{% endblock %}
