{% extends "base.html" %}
{% block content %}

<div id="content-wrapper">
<div id="content">

<h3>Be Sponsored:</h3>

<br/>
There's no shame in asking for a free pass. Many people who can benefit most from this conference happen to be under/unemployed or in school full-time. If this is your situation, we will try our best to accommodate you. <br/>
<br/>
We are currently raising money to offer free entry to PyGotham for those in need. <br/>
This will be available to those who apply for assistance during registration.
<br/>
<br/>
Because this is a new conference, and we're still raising money for this conference, we don't yet know how many free entry passes we can provide.
<br/>
<br>For this reason, your registration is not guaranteed. We will place your registration on hold, and get back to you once we have funding for your free pass. If we do not have funding by August, we will contact you and let you know the situation.<br/>
<br/>
The primary purpose of the conference is to serve the Python community.
Please know that we are serious about getting funding for those in need, and we are working on it!
<br/>
</div>
</div>


{% endblock %}
