{% extends "base.html" %}
{% block content %}

<div id="s3slider">
   <ul id="s3sliderContent">
      <li class="s3sliderImage">
          <img src="{{ MEDIA_URL }}/static/images/MongoDB_sponsor.png" />
          <span>Get your logo in this slideshow. Be a Gold Sponsor. Contact board at thepeoplesconference dot com for details.</span>
      </li>
      <li class="s3sliderImage">
          <img src="{{ MEDIA_URL }}/static/images/TPCC_sponsor.png" />
          <span>Get your logo in this slideshow. Be a Gold Sponsor. Contact board at thepeoplesconference dot com for details.</span>
      </li>
      <li class="s3sliderImage">
          <img src="{{ MEDIA_URL }}/static/images/sponsor_us.png" />
          <span>Get your logo in this slideshow. Be a Gold Sponsor. Contact board at thepeoplesconference dot com for details.</span>
      </li>
      <li class="s3sliderImage">
          <img src="{{ MEDIA_URL }}/static/images/InvitedSpeakers.png" />
          <span>Get your logo in this slideshow. Be a Gold Sponsor. Contact board at thepeoplesconference dot com for details.</span>
      </li>
      <li class="s3sliderImage">
          <img src="{{ MEDIA_URL }}/static/images/MikeBayer.png" />
          <span>Get your logo in this slideshow. Be a Gold Sponsor. Contact board at thepeoplesconference dot com for details.</span>
      </li>
      <li class="s3sliderImage">
          <img src="{{ MEDIA_URL }}/static/images/DebraWilliamsCauley.png" />
          <span>Get your logo in this slideshow. Be a Gold Sponsor. Contact board at thepeoplesconference dot com for details.</span>
      </li>
      <li class="s3sliderImage">
          <img src="{{ MEDIA_URL }}/static/images/ZedShaw.png" />
          <span>Get your logo in this slideshow. Be a Gold Sponsor. Contact board at thepeoplesconference dot com for details.</span>
      </li>
      <li class="s3sliderImage">
          <img src="{{ MEDIA_URL }}/static/images/SteveHolden.png" />
          <span>Get your logo in this slideshow. Be a Gold Sponsor. Contact board at thepeoplesconference dot com for details.</span>
      </li>
      <li class="s3sliderImage">
          <img src="{{ MEDIA_URL }}/static/images/HilaryMason.png" />
          <span>Get your logo in this slideshow. Be a Gold Sponsor. Contact board at thepeoplesconference dot com for details.</span>
      </li>
      <li class="s3sliderImage">
          <img src="{{ MEDIA_URL }}/static/images/MirabaiKnight.png" />
          <span>Get your logo in this slideshow. Be a Gold Sponsor. Contact board at thepeoplesconference dot com for details.</span>
      </li>
      <li class="s3sliderImage">
          <img src="{{ MEDIA_URL }}/static/images/KeithAvery.png" />
          <span>Get your logo in this slideshow. Be a Gold Sponsor. Contact board at thepeoplesconference dot com for details.</span>
      </li>
      <li class="s3sliderImage">
          <img src="{{ MEDIA_URL }}/static/images/GloriaW.png" />
          <span>Get your logo in this slideshow. Be a Gold Sponsor. Contact board at thepeoplesconference dot com for details.</span>
      </li>
      <li class="s3sliderImage">
          <img src="{{ MEDIA_URL }}/static/images/JonWilliams.png" />
          <span>Get your logo in this slideshow. Be a Gold Sponsor. Contact board at thepeoplesconference dot com for details.</span>
      </li>
      <li class="s3sliderImage">
          <img src="{{ MEDIA_URL }}/static/images/AlexGaudio.png" />
          <span>Get your logo in this slideshow. Be a Gold Sponsor. Contact board at thepeoplesconference dot com for details.</span>
      </li>
      <li class="s3sliderImage">
          <img src="{{ MEDIA_URL }}/static/images/MeghanGill.png" />
          <span>Get your logo in this slideshow. Be a Gold Sponsor. Contact board at thepeoplesconference dot com for details.</span>
      </li>
      <li class="s3sliderImage">
          <img src="{{ MEDIA_URL }}/static/images/DanPasette.png" />
          <span>Get your logo in this slideshow. Be a Gold Sponsor. Contact board at thepeoplesconference dot com for details.</span>
      </li>
      <li class="s3sliderImage">
          <img src="{{ MEDIA_URL }}/static/images/EliotHorowitz.png" />
          <span>Get your logo in this slideshow. Be a Gold Sponsor. Contact board at thepeoplesconference dot com for details.</span>
      </li>
      <li class="s3sliderImage">
          <img src="{{ MEDIA_URL }}/static/images/MikeDirolf.png" />
          <span>Get your logo in this slideshow. Be a Gold Sponsor. Contact board at thepeoplesconference dot com for details.</span>
      </li>
      <li class="s3sliderImage">
          <img src="{{ MEDIA_URL }}/static/images/xxxx.png" />
          <span>Get your logo in this slideshow. Be a Gold Sponsor. Contact board at thepeoplesconference dot com for details.</span>
      </li>
   </ul>
</div> 

{% endblock %}
