{% extends "base.html" %}
{% block content %}

<div id="content-wrapper">
<div id="content">
<h3>Special Needs and Accomodations:</h3>

We are serious about serving the special needs of this community.<br/>
<br/>
If there is any service you need to help your experience at this conference be better, let us know what it is during registration.<br/>
<br/>
We will try our best to make your experience excellent. <br/>
<br/>
No special needs request is too small. We want to hear from you as early as possible.<br/>

</div>
</div>


{% endblock %}
