{% load i18n %}
<HTML lang="en">
<HEAD>
<link href="{{ SSL_MEDIA_URL }}/static/css/frames.css" rel="stylesheet" type="text/css" />
<title>PyGotham: Mostly Python, some random, all awesome</title>

</HEAD>
<BODY>

<div id="leftcorner-wrapper">
<div id="leftcorner">

</div>
</div>

<div id="header-wrapper">
<div id="header">
<div id="logo-text">
PYGOTHAM: Sept 16th & 17th, 2011<br/>
Executive Conference Center: 1601 Broadway - 8th Floor<br/>
Entrance on 48th Street, New York, NY 10019<br/>
Early Bird (by 6/9): $100, Early Bird Corporate (by 6/9): $200<br/>
All donations and registration fees are tax deductible<br/>
</div>

</div>
</div>

{% block content %}{% endblock %}

</BODY>
</HTML>
