{% extends "base.html" %}
{% load i18n %}

{% block content %}

<div id="content-wrapper">
<div id="content">

<form action="{{ MEDIA_URL }}/email_us/" method="post">{% csrf_token %}

  {{ form.as_p }}

 <script type="text/javascript"
   src="https://www.google.com/recaptcha/api/challenge?k=6LdRt8QSAAAAAGc9J4KaKjVLfIj3-_NNQENRaWUz"
 </script>
 <noscript>
   <iframe src="https://www.google.com/recaptcha/api/noscript?k=6LdRt8QSAAAAAGc9J4KaKjVLfIj3-_NNQENRaWUz"
       height="300" width="500" frameborder="0"></iframe><br>
 </noscript>

<br>
<br>
<input type="submit" value="{% trans 'Submit' %}" />
</form>

</div>
</div>

{% endblock %}
