{% extends "base.html" %}
{% block content %}

<div id="content-wrapper">
<div id="content">

<h3>Talk Registration and Voting:</h3>

Coming soon: Talk/class registration. Watch for details, or sign up for email notifications ot be alerted when these pages are active.<br/>
<br/>
Talks run for 45 minutes, classes for 90 minutes. <br/>
There are currently 43 open talk slots, and 6 open class slots.<br/>
Each registrant will be able to submit up to three talks/classes.<br/>
Registrants will vote on talks. The highest voted talks/classes will fill 80% of the slots. The remaining 20% of talk/class slots will be chosen at random.<br/>
<br/>
Once talk/class submission closes, you will have an opportunity to vote up/down on all submissions. 
Watch the web site, or sign up for email notifications to be alerted when these events occur.
</div>
</div>


{% endblock %}
